.content-detail{
    width: 100%;
    height: 70dvh;
    max-height: 70dvh;
    box-sizing: border-box;
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between; /*가운데 정렬*/
    box-sizing: border-box; /* 패딩 계산 포함 */
    margin:0 auto;

}