.wrapper{
    margin-left: 5dvh;
    margin-right: 5dvh;
}
.header-type2{
    
    width: 100%;
    height: 30dvh;
    max-height: 30dvh;
    margin-bottom: 0;
    padding-top:5dvh; 
    position: relative;

}
.weather-box{
    position:absolute;
    width: 100%;
    height:10dvh;
    margin: 0 auto;
    display: block;
    background: linear-gradient(to right, #bce0fd, #a4d1f2);
    border-radius: 1vh;
}
.content-type2{
    width: 100%;
    height: 60dvh;
    max-height: 70dvh;
    box-sizing: border-box;
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between; /*가운데 정렬*/
    box-sizing: border-box; /* 패딩 계산 포함 */
    padding-top:3dvh;
    margin:0;

}
